/* Global Styles */
:root {
  --primary-color: #4F5D75;
  --dark-color: #1C2321;
  --light-color: #A9B4C2;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --hover-color: #8EA8C3;
}

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #888888;
  color: #343a40;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  display: block;
  height: 100%;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  /* margin-top: 0rem; */
  margin-left: 3rem;
  margin-bottom: 3rem;
  padding-top: 2rem;
}


.container2 {
  max-width: 1100px;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}



.dashboard-container {
  background-color: #CCCCCC;
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 10px;
  overflow-x: auto; /* Add horizontal scrollbar if content exceeds container width */
  overflow-y: hidden; /* Hide vertical scrollbar */
  white-space: nowrap; /* Prevent line breaks in table cells */
  position: relative; /* Add relative positioning for the scrollbar */
}

.dashboard-scrollbar {
  overflow-x: scroll; /* Add horizontal scrollbar */
  overflow-y: hidden; /* Hide vertical scrollbar */
  white-space: nowrap; /* Prevent line breaks in table cells */
}

.dashboard-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.dashboard-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* Background color of the scrollbar track */
}

.dashboard-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Color of the scrollbar thumb */
  border-radius: 4px; /* Radius of the scrollbar thumb */
}

.dashboard-scrollbar.top-scrollbar {
  top: 0; /* Position the scrollbar at the top */
  bottom: initial; /* Reset the bottom position */
}

.admin-container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: space-between;
  grid-gap: 10px;
  margin-bottom: 20px;
}

.admin-container h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary-color)
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #352727;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type='submit'],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

/* ////////////////////////////////////////////////////////////////////// */
/* Navbar */
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.7rem 0.5rem; /* Adjusted padding */
  position: fixed;
  z-index: 1;
  height: 100%; /* Height of the tray */
  width: 60px; /* Initial width for full-screen mode */
  background-color: --dark-color; /* Adjusted background color */
  transition: width 0.3s ease; /* Smooth transition for width change */
}

.navbar.closed {
  width: 60px; /* Width when closed */
}

.navbar.open {
  width: 250px; /* Width when open */
  background-color: rgba(51, 51, 51, 0.9); /* Make the navbar semi-transparent when open */
}

.navbar ul {
  display: flex;
  flex-direction: column; /* Align links vertically */
  align-items: flex-start; /* Align links to the left */
  margin-top: 1rem; /* Adjusted margin */
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0.25rem 0; /* Adjusted margin */
  transition: padding 0.3s; /* Smooth transition for padding change */
}

.navbar a:hover {
  color: var(--hover-color);
  padding-left: 0.9rem; /* Adjusted padding on hover */
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

.current {
  background: #444;
  color: #8aaef7;
}


/* Close icon */
.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
}

.close-icon:hover {
  color: var(--hover-color);
}
/* Landing Page */
.landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Profiles Page */
.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

/* Profile Page */
.profile-grid {
  display: grid;
  grid-template-areas:
    'top top'
    'about about'
    'exp edu'
    'github github';
  grid-gap: 1rem;
}

.profile-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-top img {
  width: 250px;
}

.profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}

.profile-top .icons a:hover {
  color: var(--dark-color);
}

.profile-about {
  grid-area: about;
  text-align: center;
}

.profile-about2 {
  grid-area: about;
  text-align: left
}

.profile-about .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-exp {
  grid-area: exp;
}

.profile-edu {
  grid-area: edu;
}

.profile-exp h2,
.profile-edu h2 {
  margin-bottom: 1rem;
}

.profile-exp > div,
.profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}

.profile-exp > div:last-child,
.profile-edu > div:last-child {
  border: 0;
}

.profile-exp p,
.profile-edu p {
  margin: 0.5rem 0;
}

.profile-github {
  grid-area: github;
}

.profile-github .repo {
  display: flex;
}

.profile-github .repo > div:first-child {
  flex: 7;
  flex-basis: 70%;
}

.profile-github > div:last-child {
  flex: 3;
  flex-basis: 20%;
}

/* Posts Page */
.post-form .post-form-header {
  background: var(--primary-color);
  padding: 0.5rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
}

.post > div:first-child {
  text-align: center;
}

.post img {
  width: 100px;
}

.post .comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

/* ///////////////////////////////////////////////////////// */
@media screen and (max-width: 426px) {
  /* Global Styles */
  body {
    font-size: 0.8rem;
    line-height: 1.5;
    background-color: #757682;
    color: #333;
  }

  .container {
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 0 1rem;
    padding-top: 20px;
    margin-top: 0rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
  }

  .container2 {
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .article-container {
    max-width: 100%;
    background-color: var(--dark-color);
    color: #fff;
    margin: 5px;
    overflow: hidden;
    padding: 3px;
    padding-top: 5px;
    margin-top: 10px;
    margin-bottom: 1rem;
  }

  /* Utilities */
  .m-1 {
    margin: 0.2rem;
  }
  .my-1 {
    margin: 0.2rem 0;
  }

  .btn {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
    background: var(--primary-color);
    color: #333;
    padding: 0.2rem 0.4rem;
    font-size: 0.8rem;
    border: none;
    cursor: pointer;
    margin-right: 0.2rem;
    transition: opacity 0.2s ease-in;
    outline: none;
  }

  .landing-btn {
    display: inline-block; /* Change to inline-block to allow buttons to sit side by side */
    width: auto; /* Change to auto to let the button size adjust based on its content */
    margin-bottom: 0.2rem;
    background: var(--primary-color);
    color: #333;
    padding: 0.2rem 0.4rem;
    font-size: 0.8rem;
    border: none;
    cursor: pointer;
    margin-right: 0.2rem;
    transition: opacity 0.2s ease-in;
    outline: none;
  }



  .btn-light,
  .bg-light,
  .badge-light,
  .alert-light {
    background: var(--light-color);
    color: #333;
  }
  
  .btn-dark,
  .bg-dark,
  .badge-dark,
  .alert-dark {
    background: var(--dark-color);
    color: #fff;
  }

  .btn-primary,
  .bg-primary,
  .badge-primary,
  .alert-primary {
    background: var(--primary-color);
    color: #fff;
  }

  .btn-danger,
  .bg-danger,
  .badge-danger,
  .alert-danger {
    background: var(--danger-color);
    color: #fff;
  }

  /* Text Styles*/
  .x-large {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  .large {
    font-size: 1.4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  .lead {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .post-text {
    text-align: left;
  }

  .text-primary {
    color: var(--primary-color);
  }

  .text-dark {
    color: var(--dark-color);
  }

  /* Padding */
  .p {
    padding: 0.2rem;
  }
  .p-1 {
    padding: 0.4rem;
  }
  .p-2 {
    padding: 0.6rem;
  }
  .p-3 {
    padding: 0.8rem;
  }
  .py {
    padding: 0.2rem 0;
  }
  .py-1 {
    padding: 0.4rem 0;
  }
  .py-2 {
    padding: 0.6rem 0;
  }
  .py-3 {
    padding: 0.8rem 0;
  }

/* Navbar */
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.7rem 0.5rem; /* Adjusted padding */
  position: fixed;
  z-index: 1;
  height: 100%; /* Height of the tray */
  width: 60px; /* Initial width for full-screen mode */
  background-color: --dark-color; /* Adjusted background color */
  transition: width 0.3s ease; /* Smooth transition for width change */
}

.navbar.closed {
  width: 60px; /* Width when closed */
}

.navbar.open {
  width: 250px; /* Width when open */
  background-color: rgba(51, 51, 51, 0.9 ); /* Make the navbar semi-transparent when open */
}

.navbar ul {
  display: flex;
  flex-direction: column; /* Align links vertically */
  align-items: flex-start; /* Align links to the left */
  margin-top: 1rem; /* Adjusted margin */
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0.25rem 0; /* Adjusted margin */
  transition: padding 0.3s; /* Smooth transition for padding change */
}

.navbar a:hover {
  color: var(--hover-color);
  padding-left: 0.9rem; /* Adjusted padding on hover */
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

.current {
  background: #444;
  color: #8aaef7;
}

  /* .navbar .nav-item {
    text-align: center;
  } */
  /* Stack the links into a single column */
  /* .navbar ul {
    display: flex;
    flex-direction
  } */

  .table {
    display: block;
  }
  .table-link {
    display: block;
    margin-top: 10px;
  }

  .profile-names {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #333;
  }
  
  .profile-names a {
    color: #333;
    text-decoration: none;
  }
  
  .profile-names a:hover {
    color: #ff0000; /* Change the color to your desired hover color */
  }
  
  .contact-list {
    margin-bottom: 1rem;
  }
  
  .article-list {
    margin-bottom: 1rem;
  }
}




